body{
    font-family: 'Domine', serif;
    background-color: #E9E9E9;
}
.main-container{
    background-color: white;
}
.fa-bars, .navbar-brand{
    color: black;
}
.container, .header-container, .main-img{
    background-size: cover;
    background-position: center center;
}

.header-container {
    height: 800px;
}
.text-center{
    margin-top: 20px;
}
.the-title{
    font-size: 42px;
    color: black;
}
h3, .fa-bars{
    color: #D8D8D8;
}
.fa-bars{
    font-size: 30px;
}
.main-img{
    background-position: left top;
    background-size: 100%;
    padding: 130px;

}