.header{
   
}
.fa-bars, .navbar-brand{
    color: black;
}
.container .header .back, .left-2 .img2, .header-container{
    background-size: cover;
    background-position: center center;
}

.header-container {
    height: 600px;
}
 