body{
    font-family: 'Domine', serif;
    background-color: #E9E9E9;
}
.main-container1{
    background-color: white;
}
.fa-bars, .navbar-brand{
    color: black;
}
.container, .header-container, .main-img{
    background-size: cover;
    background-position: center center;
}

.header-container {
    height: 600px;

}
 .main-container {
     z-index: 2;
     margin-top: -100px;
     margin-left: 50px;
     margin-right: 50px;
     background: #ffffff;
     width: 89%;
 }

 .source-author {
     display: flex;
     justify-content: flex-end;
     margin-top: 50px;

 }

.text-center{
    margin-top: 20px;
}
.the-title{
    font-size: 42px;
    color: black;
}

h1.main-container{
    padding-top: 50px;

}
h3, .fa-bars, .glaciers{
    color: #D8D8D8;
}
<<<<<<< HEAD
=======
p {
    content: justify;
    padding: 50px;
}

h2.glaciers {
    padding-top: -15px;
    padding-left: 50px;
    padding-bottom: 25px;
}

.date {
    border-bottom: 1px solid black;
    width: 300px;
    padding-left: 50px;
}

.date1{
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}

>>>>>>> b17c4271881050b62922a5ba933e6c4d3138fb1b
.fa-bars{
    font-size: 30px;
}
.main-img{
    background-position: left top;
    background-size: 100%;
    padding: 130px;

}
